input[type="text"].search { 
  font-size: 42px;
  height: 50px;
  width: 600px;
}


.result-container {
  display: none;

}

.postit {    
  width: 275px;    
  margin: 25px;    
  padding: 15px;
  position:relative;   
  border:1px solid #E8E8E8;  
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
  background: rgb(255,255,136); /* Old browsers */
}

.postit:after {     
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:14px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:10px 15px 5px rgba(0, 0, 0, 0.40);
-moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
 -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
     -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
         transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
